/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Open+Sans');

// Mixin to reset style 

@mixin reset() {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

// Mixin for adding background 

@mixin addBackground($image, $colorleft: false, $colorright: false) {
    @if $colorright and $colorleft { background:linear-gradient(to left, $colorright, $colorleft), url($image); }
    @else { background-image: url($image); }
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// Mixin for turning element into flexbox

@mixin flexbox($direction, $wrap, $justify, $align) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify;
    align-items: $align;
}

// Mixin for creating grid

@mixin buildGrid($rows, $columns) {
    display: grid;
    grid-template-rows: $rows;
    grid-template-columns: $columns;
}

/* Reset elements */

@for $i from 1 through 6 {
    h#{$i} { @include reset() };
}

p, span, ul, a {
    @include reset();
}

button {
    border: 0;
}

/* Basic structure */

.section {
    @include flexbox(column, wrap, center, center);
}

.section > div {
    @include flexbox(column, wrap, space-evenly, center);
    width: 60%;
    height: 100%;
}

.flex-row {
    @include flexbox(row, no-wrap, space-evenly, center);
}

.flex-column {
    @include flexbox(column, no-wrap, space-evenly, center);
}

.start {
    justify-content: flex-start;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

#navigation {
    @include flexbox(row, no-wrap, space-between, center);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 15px 0px;
    margin-top: 20px;
}

#legal {
    justify-content: space-evenly;
}

#fact-box-section {
    & > div {
        flex-flow: row;
        justify-content: flex-start;
    }
}

#fact-box {
    justify-content: center;
    background-color: white;
}

/* Widths */

@for $i from 1 through 10 {
    .w-#{$i*10} { width: percentage($i*0.1); } 
}

.w-15 {
    width: 15%;
}

.w-auto {
    width: auto;
}

@for $i from 1 through 10 {
    .h-#{$i*10} { height: percentage($i*0.1); } 
}

.h-auto {
    height: auto;
}

/* SECTION */

/* Section heights */

.lg {
    height: 900px;
}

.md {
    height: 600px;
}

.sm {
    height: 300px;
}

.ft {
    height: 50px;
}

/* Section color */

.section:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

.section:nth-child(odd) {
    background-color: rgb(241, 241, 241);
}

#header {
    @include addBackground('https://images.unsplash.com/photo-1546757074-dc2932d92451?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80', rgba(1, 0, 69, 0.3), rgba(35, 34, 50, 0.6));
    color: white;
}

#fact-box-section {
    @include addBackground('https://images.unsplash.com/photo-1546785962-5fede0a682e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2808&q=80');
}

#testimonials {
    @include addBackground('https://images.unsplash.com/photo-1545666214-1acd9f589e25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80', rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6))
}

#footer {
    background-color: rgb(15, 12, 12);
}

#legal {
    background-color: rgb(36, 33, 33);
}

/* UNIVERSAL STYLING */

@for $i from 1 through 6 {
    h#{$i} { font-family: 'Merriweather Sans', sans-serif; }
}

p, span, li, button {
    font-family: 'Open Sans', sans-serif;
}

a, #dropdown {
    transition: color 0.5s ease-in-out;
    color: white;

    &:hover {
        transition: color 0.5s ease-in-out;
        color: orange;
        cursor: pointer;
    }
}

button {
    transition: all 0.5s ease-in-out;
    background-color: orange;
    color: white;
    margin-top: 50px;
    padding: 10px 20px;
    border: 2px solid orange;
    box-sizing: border-box;

    &:hover {
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        background-color: rgba(0, 0, 0, 0);
        color: white;
        border: 2px solid white;
    }

    &.inverse:hover {
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        background-color: rgba(0, 0, 0, 0);
        color: black;
        border: 2px solid black;
    }
}

hr {
    border-top: 5px solid orange;
    width: 20%;
    margin: 20px auto;
}

/* HEADER STYLING */

/* Info */

nav {
    font-size: 18px;
    color:white;
}

#top-info > div {
    margin-right: 20px;
}

#nav-options {
    li {
        display: inline-block;
    }
}

#dropdown-options {
    display: block;
    position: absolute;
    top: 333px;
    right: 509px;
    width: 274px;

    li {
        display: block;
        background-color: rgba(255, 115, 0, 0.5);
        margin: 1.5px 0px;
        padding: 5px 0px 5px 10px;
    }
}

/* FEATURE STYLING */

#features-test {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr 2fr);
    grid-template-areas:
        "image header image header image header image header"
        ". text . text . text . text";

        div {
            justify-self: center;
        }
}

.feature-image {
    grid-area: image;
}

.feature-text {
    grid-area: text;
    font-size: 14px;
}

.feature-head {
    grid-area: header;
    font-size: 16px;
    margin-bottom: 10px;
}
