/* Change device width settings to assist responsiveness */
@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans|Open+Sans");
@viewport {
  width: device-width;
  zoom: 1.0; }
/* Fonts */
/* Reset elements */
h1 {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

h2 {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

h3 {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

h4 {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

h5 {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

h6 {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

p, span, ul, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

button {
  border: 0; }

/* Basic structure */
.section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }

.section > div {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 100%;
  padding: 80px 0px; }

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center; }

.flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center; }

.start {
  justify-content: flex-start; }

.text-center {
  text-align: center; }

.hidden {
  display: none; }

#desktop-navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 15px 0px;
  margin-top: 20px; }

#legal {
  justify-content: space-evenly; }

#fact-box-section > div {
  flex-flow: row;
  justify-content: flex-start;
  padding: 0px; }

#fact-box {
  justify-content: space-evenly;
  background-color: white;
  padding: 80px 40px; }

/* Widths */
.w-10 {
  width: 10%; }

.w-20 {
  width: 20%; }

.w-30 {
  width: 30%; }

.w-40 {
  width: 40%; }

.w-50 {
  width: 50%; }

.w-60 {
  width: 60%; }

.w-70 {
  width: 70%; }

.w-80 {
  width: 80%; }

.w-90 {
  width: 90%; }

.w-100 {
  width: 100%; }

.w-15 {
  width: 15%; }

.w-auto {
  width: auto; }

.h-10 {
  height: 10%; }

.h-20 {
  height: 20%; }

.h-30 {
  height: 30%; }

.h-40 {
  height: 40%; }

.h-50 {
  height: 50%; }

.h-60 {
  height: 60%; }

.h-70 {
  height: 70%; }

.h-80 {
  height: 80%; }

.h-90 {
  height: 90%; }

.h-100 {
  height: 100%; }

.h-auto {
  height: auto; }

/* SECTION */
/* Section heights */
.lg {
  height: 900px; }

.md {
  height: 600px; }

.sm {
  height: 300px; }

.ft {
  height: 50px; }

/* Section color */
.section:nth-child(even) {
  background-color: white; }

.section:nth-child(odd) {
  background-color: #f1f1f1; }

#header {
  background: linear-gradient(to left, rgba(35, 34, 50, 0.6), rgba(1, 0, 69, 0.3)), url("https://images.unsplash.com/photo-1546757074-dc2932d92451?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }

#fact-box-section {
  background-image: url("https://images.unsplash.com/photo-1546785962-5fede0a682e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2808&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#testimonials {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1545666214-1acd9f589e25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#footer {
  background-color: #0f0c0c; }

#legal {
  background-color: #242121; }

/* UNIVERSAL STYLING */
h1 {
  font-family: 'Merriweather Sans', sans-serif; }

h2 {
  font-family: 'Merriweather Sans', sans-serif; }

h3 {
  font-family: 'Merriweather Sans', sans-serif; }

h4 {
  font-family: 'Merriweather Sans', sans-serif; }

h5 {
  font-family: 'Merriweather Sans', sans-serif; }

h6 {
  font-family: 'Merriweather Sans', sans-serif; }

p, span, li, button, em, a, blockquote, input {
  font-family: 'Open Sans', sans-serif; }

button {
  transition: all 0.3s ease-in-out;
  background-color: orange;
  color: white;
  margin-top: 50px;
  padding: 10px 20px;
  border: 2px solid orange;
  box-sizing: border-box; }
  button:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 2px solid white; }
  button.inverse:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: 2px solid black; }

hr {
  border-top: 5px solid orange;
  width: 20%;
  margin: 20px auto;
  padding-bottom: 50px; }

.bold {
  font-weight: bold; }

/* HEADER STYLING */
/* Info */
#mobile-nav-container {
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.4); }

#mobile-top-info {
  padding: 25px 0px;
  font-size: 20px;
  background-color: rgba(100, 100, 100, 0.7); }

#mobile-logo {
  text-align: center;
  padding: 10px;
  background-color: rgba(100, 100, 100, 0.7); }

#mobile-navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px; }

#mobile-nav-links {
  padding: 10px 0px;
  text-align: center;
  background-color: rgba(150, 150, 150, 0.5); }

nav {
  font-size: 18px;
  color: white; }
  nav ul li a {
    transition: all 0.3s ease-in-out;
    color: white; }
    nav ul li a:hover {
      transition: all 0.3s ease-in-out;
      color: orange;
      cursor: pointer; }

#dropdown {
  transition: all 0.3s ease-in-out;
  color: white; }
  #dropdown:hover {
    transition: all 0.3s ease-in-out;
    color: orange;
    cursor: pointer; }

#top-info > div {
  margin-right: 20px; }

#desktop-nav-links, #mobile-nav-links {
  position: relative; }

#desktop-nav-options li {
  display: inline-block; }

#dropdown-options, #mobile-dropdown-options {
  position: absolute;
  top: 79px; }
  #dropdown-options li, #mobile-dropdown-options li {
    display: block;
    width: 100%;
    margin: 1px 0px;
    padding: 5px 0px 5px 10px;
    background-color: rgba(235, 106, 0, 0.9); }

#dropdown-options {
  left: 340px;
  width: 274px; }

#mobile-dropdown-options {
  left: 0px;
  width: 100%;
  font-size: 28px;
  font-family: 'Merriweather Sans', sans-serif; }

/* FEATURE STYLING */
#features-test {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(4, 1fr 2fr);
  grid-template-areas: "img-1 head-1 img-2 head-2 img-3 head-3 img-4 head-4" "img-1 txt-1 img-2 txt-2 img-3 txt-3 img-4 txt-4"; }
  #features-test .grid-image {
    justify-self: center; }

.feature-text {
  font-size: 14px; }

.feature-head {
  font-size: 16px;
  margin-bottom: 10px; }

#img-1 {
  grid-area: img-1; }

#head-1 {
  grid-area: head-1; }

#txt-1 {
  grid-area: txt-1; }

#img-2 {
  grid-area: img-2; }

#head-2 {
  grid-area: head-2; }

#txt-2 {
  grid-area: txt-2; }

#img-3 {
  grid-area: img-3; }

#head-3 {
  grid-area: head-3; }

#txt-3 {
  grid-area: txt-3; }

#img-4 {
  grid-area: img-4; }

#head-4 {
  grid-area: head-4; }

#txt-4 {
  grid-area: txt-4; }

/* IMAGE BOXES STYLING */
.frame {
  width: 450px;
  height: 300px;
  background-size: cover;
  background-position: center;
  justify-content: flex-end; }
  .frame em {
    background-color: rgba(255, 115, 0, 0.5);
    color: white;
    font-size: 40px;
    padding: 15px;
    position: relative;
    top: -201px;
    left: -9px; }
  .frame a {
    display: block;
    transition: all 0.3s ease-in-out;
    background-color: white;
    padding: 10px;
    border-left: 1px solid orange; }
    .frame a:hover {
      transition: all 0.3s ease-in-out;
      background-color: orange;
      color: white; }

#frame1 {
  background-image: url("https://images.unsplash.com/photo-1547241508-f95f5c4c1305?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80"); }

#frame2 {
  background-image: url("https://images.unsplash.com/photo-1547321911-4613f6df223a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2547&q=80"); }

#frame3 {
  background-image: url("https://images.unsplash.com/photo-1547250098-7fa6606002ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80"); }

/* FACTBOX STYLING */
#fact-box {
  align-items: flex-start; }
  #fact-box div hr {
    margin-left: 0px;
    padding-bottom: 20px; }

#fact-grid {
  display: grid;
  grid-template: 1fr 1fr / 0.1fr 1fr;
  margin-top: 40px;
  grid-row-gap: 40px; }
  #fact-grid i:before {
    color: orange; }
  #fact-grid div h3 {
    margin-bottom: 10px; }
  #fact-grid div p {
    margin: 10px 0px; }
  #fact-grid div a {
    margin-top: 10px; }
  #fact-grid div a {
    color: orange; }

/* EVENTS STYLING */
.event em {
  display: block;
  font-size: 16px;
  width: 40px;
  text-align: center; }
.event div {
  transition: all 0.3s ease-in-out;
  background-color: white;
  justify-content: flex-start;
  color: black; }
  .event div a {
    border-right: 1px solid orange; }
  .event div i {
    padding: 0px 15px; }
  .event div:hover {
    transition: all 0.3s ease-in-out;
    background-color: orange;
    color: white; }
    .event div:hover a {
      background-color: orange;
      color: white;
      border-right: 1px solid white; }

#event1 {
  background-image: url("https://images.unsplash.com/photo-1547298248-78778a852c2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1701&q=80"); }

#event2 {
  background-image: url("https://images.unsplash.com/photo-1546871856-f4df1cf7d37c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1700&q=80"); }

#event3 {
  background-image: url("https://images.unsplash.com/photo-1546091184-84697ac05c9f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80"); }

/* Testimonials */
#testimonials {
  color: white; }

.testimonial {
  align-items: flex-start; }

.testimonial-quote {
  background-color: rgba(0, 0, 0, 0.5);
  align-items: flex-start;
  max-width: 450px;
  border-radius: 7px;
  height: 191px; }
  .testimonial-quote blockquote {
    position: relative;
    z-index: 1;
    top: -30px; }
  .testimonial-quote i {
    position: relative;
    top: 10px;
    left: 10px;
    color: rgba(100, 100, 100, 0.5); }
  .testimonial-quote i:before {
    z-index: -1; }

.testimonial-profile {
  margin-top: 15px;
  justify-content: flex-start; }
  .testimonial-profile p {
    margin-left: 10px; }

.testimonial-company {
  font-size: 14px; }

/* FOOTER STYLING */
#footer {
  color: white; }
  #footer h3 {
    position: relative; }
  #footer hr {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0px; }

#contact-title {
  left: -70px; }

#newsletter-title {
  left: -10px; }

#footer-nav {
  color: orange;
  margin: 25px 0px 30px 0px; }
  #footer-nav a, #footer-nav i {
    transition: all 0.3s ease-in-out;
    color: orange; }
    #footer-nav a:hover, #footer-nav i:hover {
      transition: all 0.3s ease-in-out;
      color: white;
      cursor: pointer; }

#contact {
  justify-content: center;
  margin-top: 20px; }
  #contact div {
    justify-content: flex-start; }
    #contact div i {
      margin-right: 20px; }

#newsletter {
  margin-top: 40px;
  width: 28%;
  align-items: flex-start; }
  #newsletter p {
    margin-bottom: 20px; }
  #newsletter input {
    transition: all 0.3s ease-in-out;
    background-color: rgba(50, 50, 50, 0.4);
    border: none;
    padding: 10px;
    margin-top: 5px;
    color: white; }
    #newsletter input:hover {
      transition: all 0.3s ease-in-out;
      background-color: rgba(100, 100, 100, 0.4); }

/* BOTTOM STYLING */
#legal div {
  padding: 0px;
  color: white; }
  #legal div p {
    align-self: flex-start; }

#privacy {
  align-self: flex-end; }
  #privacy a {
    transition: all 0.3s ease-in-out;
    color: orange; }
    #privacy a:hover {
      transition: all 0.3s ease-in-out;
      color: white;
      cursor: pointer; }

/* Responsiveness styling */
@media screen and (max-width: 1025px) {
  #desktop-nav-links {
    width: 100%; }

  #top-info {
    justify-content: space-between; }
    #top-info div {
      margin-right: 0px; }

  #features-test {
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "img-1 head-1" "img-1 txt-1" "img-2 head-2" "img-2 txt-2" "img-3 head-3" "img-3 txt-3" "img-4 head-4" "img-4 txt-4";
    grid-template-rows: repeat(4, 1fr 2fr);
    grid-row-gap: 4px; } }
@media screen and (max-width: 769px) {
  .section > div {
    width: 80%; } }
@media screen and (max-width: 501px) {
  #features-test {
    grid-template-areas: "img-1" "head-1" "txt-1" "img-2" "head-2" "txt-2" "img-3" "head-3" "txt-3" "img-4" "head-4" "txt-4";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr 1fr 2fr);
    text-align: center; } }
@media screen and (max-width: 426px) {
  #desktop-nav-container {
    display: none; }

  #mobile-nav-container {
    display: flex; }

  #header > div {
    padding-top: 346px; } }

/*# sourceMappingURL=styles.css.map */
